@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;
  --radius: 0.5rem;

  --color-background: #ffffff;
  --color-foreground: #0a0a0a;

  --color-primary: #690fff; /* Blue */
  --color-secondary: #98a2b3; /* Amber */
  --color-accent: #475467; /* Emerald */
  --color-muted: #414651;
  --color-border: #e5e7eb;
}

/* ✅ Base resets */
* {
  @apply border-border;
}

body {
  @apply bg-background text-foreground font-sans antialiased;
}

.primary-text{
  @apply text-[28px] md:text-[46px] lg:text-[72px]
}

.secondary-text{
  @apply text-[12px] md:text-[20px] lg:text-[24px]
}

.accent-text{
  @apply text-[10px] md:text-[14px] lg:text-[18px]
}